In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("dt-maths.csv")
df.head()

    Outlook Temperature Humidity    Wind  Hrs Played
0     Sunny         Hot     High    Weak          25
1     Sunny         Hot     High  Strong          30
2  Overcast         Hot     High    Weak          46
3      Rain        Mild     High    Weak          45
4      Rain        Cool   Normal    Weak          52

In [3]:
HP_Mean = df['Hrs Played'].mean()
HP_Mean

39.785714285714285

In [4]:
HP_Std = df['Hrs Played'].std()
HP_Std

9.672948571450904

In [5]:
HP_CV = (HP_Std/HP_Mean)*100
HP_CV

24.31261759431107

# Outlook Col:-

In [6]:
df["Outlook"].value_counts()

Sunny       5
Rain        5
Overcast    4
Name: Outlook, dtype: int64

Sunny Value For:-

In [7]:
Sunny = df[df["Outlook"]=="Sunny"]
Sunny

   Outlook Temperature Humidity    Wind  Hrs Played
0    Sunny         Hot     High    Weak          25
1    Sunny         Hot     High  Strong          30
7    Sunny        Mild     High    Weak          35
8    Sunny        Cool   Normal    Weak          38
10   Sunny        Mild   Normal  Strong          48

In [8]:
Sunny_Len = len(Sunny)
Sunny_Len

5

In [9]:
Sunny_Std = Sunny.std()
Sunny_Std

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\4075461051.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Sunny_Std = Sunny.std()

Hrs Played    8.700575
dtype: float64

Overcast Value For:-

In [10]:
Overcast = df[df["Outlook"]=="Overcast"]
print(Overcast)
print("-----------------------------------------------------")

Overcast_Len = len(Overcast)
print(Overcast_Len)
print("-----------------------------------------------------")

Overcast_Std = Overcast.std()
print(Overcast_Std)

     Outlook Temperature Humidity    Wind  Hrs Played
2   Overcast         Hot     High    Weak          46
6   Overcast        Cool   Normal  Strong          43
11  Overcast        Mild     High  Strong          52
12  Overcast         Hot   Normal    Weak          44
-----------------------------------------------------
4
-----------------------------------------------------
Hrs Played    4.031129
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\2823487635.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Overcast_Std = Overcast.std()

Rain Value For:-

In [11]:
Rain = df[df["Outlook"]=="Rain"]
print(Rain)
print("-----------------------------------------------------")

Rain_Len = len(Rain)
print(Rain_Len)
print("-----------------------------------------------------")

Rain_Std = Rain.std()
print(Rain_Std)

   Outlook Temperature Humidity    Wind  Hrs Played
3     Rain        Mild     High    Weak          45
4     Rain        Cool   Normal    Weak          52
5     Rain        Cool   Normal  Strong          23
9     Rain        Mild   Normal    Weak          46
13    Rain        Mild     High  Strong          30
-----------------------------------------------------
5
-----------------------------------------------------
Hrs Played    12.153189
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\3714471679.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Rain_Std = Rain.std()

In [12]:
DF_Len = len(df)
DF_Len

14

In [13]:
Outlook_Reduction=((Sunny_Len/DF_Len)*Sunny_Std)+((Overcast_Len/DF_Len)*Overcast_Std)+((Rain_Len/DF_Len)*Rain_Std)
Outlook_Reduction

Hrs Played    8.599524
dtype: float64

# Temperature Col:-

In [14]:
df["Temperature"].value_counts()

Mild    6
Hot     4
Cool    4
Name: Temperature, dtype: int64

Hot Value For:-

In [15]:
Hot = df[df["Temperature"]=="Hot"]
print(Hot)
print("-----------------------------------------------------")

Hot_Len = len(Hot)
print(Hot_Len)
print("-----------------------------------------------------")

Hot_Std = Hot.std()
print(Hot_Std)

     Outlook Temperature Humidity    Wind  Hrs Played
0      Sunny         Hot     High    Weak          25
1      Sunny         Hot     High  Strong          30
2   Overcast         Hot     High    Weak          46
12  Overcast         Hot   Normal    Weak          44
-----------------------------------------------------
4
-----------------------------------------------------
Hrs Played    10.340052
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\314534102.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Hot_Std = Hot.std()

Mild Value For:-

In [16]:
Mild = df[df["Temperature"]=="Mild"]
print(Mild)
print("-----------------------------------------------------")

Mild_Len = len(Mild)
print(Mild_Len)
print("-----------------------------------------------------")

Mild_Std = Mild.std()
print(Mild_Std)

     Outlook Temperature Humidity    Wind  Hrs Played
3       Rain        Mild     High    Weak          45
7      Sunny        Mild     High    Weak          35
9       Rain        Mild   Normal    Weak          46
10     Sunny        Mild   Normal  Strong          48
11  Overcast        Mild     High  Strong          52
13      Rain        Mild     High  Strong          30
-----------------------------------------------------
6
-----------------------------------------------------
Hrs Played    8.382521
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\1057012028.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Mild_Std = Mild.std()

Cool Value For:-

In [17]:
Cool = df[df["Temperature"]=="Cool"]
print(Cool)
print("-----------------------------------------------------")

Cool_Len = len(Cool)
print(Cool_Len)
print("-----------------------------------------------------")

Cool_Std = Cool.std()
print(Cool_Std)

    Outlook Temperature Humidity    Wind  Hrs Played
4      Rain        Cool   Normal    Weak          52
5      Rain        Cool   Normal  Strong          23
6  Overcast        Cool   Normal  Strong          43
8     Sunny        Cool   Normal    Weak          38
-----------------------------------------------------
4
-----------------------------------------------------
Hrs Played    12.138094
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\2697042235.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Cool_Std = Cool.std()

In [18]:
Temperature_Reduction=((Hot_Len/DF_Len)*Hot_Std)+((Mild_Len/DF_Len)*Mild_Std)+((Cool_Len/DF_Len)*Cool_Std)
Temperature_Reduction

Hrs Played    10.014837
dtype: float64

# Humidity Col:-

In [19]:
df["Humidity"].value_counts()

High      7
Normal    7
Name: Humidity, dtype: int64

High Value For:-

In [20]:
High = df[df["Humidity"]=="High"]
print(High)
print("-----------------------------------------------------")

High_Len = len(High)
print(High_Len)
print("-----------------------------------------------------")

High_Std = High.std()
print(High_Std)

     Outlook Temperature Humidity    Wind  Hrs Played
0      Sunny         Hot     High    Weak          25
1      Sunny         Hot     High  Strong          30
2   Overcast         Hot     High    Weak          46
3       Rain        Mild     High    Weak          45
7      Sunny        Mild     High    Weak          35
11  Overcast        Mild     High  Strong          52
13      Rain        Mild     High  Strong          30
-----------------------------------------------------
7
-----------------------------------------------------
Hrs Played    10.11364
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\1294687004.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  High_Std = High.std()

Normal Value For:-

In [21]:
Normal = df[df["Humidity"]=="Normal"]
print(Normal)
print("-----------------------------------------------------")

Normal_Len = len(Normal)
print(Normal_Len)
print("-----------------------------------------------------")

Normal_Std = Normal.std()
print(Normal_Std)

     Outlook Temperature Humidity    Wind  Hrs Played
4       Rain        Cool   Normal    Weak          52
5       Rain        Cool   Normal  Strong          23
6   Overcast        Cool   Normal  Strong          43
8      Sunny        Cool   Normal    Weak          38
9       Rain        Mild   Normal    Weak          46
10     Sunny        Mild   Normal  Strong          48
12  Overcast         Hot   Normal    Weak          44
-----------------------------------------------------
7
-----------------------------------------------------
Hrs Played    9.433981
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\3669627072.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Normal_Std = Normal.std()

In [22]:
Humidity_Reduction=((High_Len/DF_Len)*High_Std)+((Normal_Len/DF_Len)*Normal_Std)
Humidity_Reduction

Hrs Played    9.773811
dtype: float64

# Wind Col:-

In [23]:
df["Wind"].value_counts()

Weak      8
Strong    6
Name: Wind, dtype: int64

Weak Value For:-

In [24]:
Weak = df[df["Wind"]=="Weak"]
print(Weak)
print("-----------------------------------------------------")

Weak_Len = len(Weak)
print(Weak_Len)
print("-----------------------------------------------------")

Weak_Std = Weak.std()
print(Weak_Std)

     Outlook Temperature Humidity  Wind  Hrs Played
0      Sunny         Hot     High  Weak          25
2   Overcast         Hot     High  Weak          46
3       Rain        Mild     High  Weak          45
4       Rain        Cool   Normal  Weak          52
7      Sunny        Mild     High  Weak          35
8      Sunny        Cool   Normal  Weak          38
9       Rain        Mild   Normal  Weak          46
12  Overcast         Hot   Normal  Weak          44
-----------------------------------------------------
8
-----------------------------------------------------
Hrs Played    8.416608
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\2715023604.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Weak_Std = Weak.std()

Strong Value For:-

In [25]:
Strong = df[df["Wind"]=="Strong"]
print(Strong)
print("-----------------------------------------------------")

Strong_Len = len(Strong)
print(Strong_Len)
print("-----------------------------------------------------")

Strong_Std = Strong.std()
print(Strong_Std)

     Outlook Temperature Humidity    Wind  Hrs Played
1      Sunny         Hot     High  Strong          30
5       Rain        Cool   Normal  Strong          23
6   Overcast        Cool   Normal  Strong          43
10     Sunny        Mild   Normal  Strong          48
11  Overcast        Mild     High  Strong          52
13      Rain        Mild     High  Strong          30
-----------------------------------------------------
6
-----------------------------------------------------
Hrs Played    11.604597
dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_14100\1711921229.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Strong_Std = Strong.std()

In [26]:
Wind_Reduction=((Weak_Len/DF_Len)*Weak_Std)+((Strong_Len/DF_Len)*Strong_Std)
Wind_Reduction

Hrs Played    9.782889
dtype: float64

In [27]:
Outlook_SDR = HP_Std - Outlook_Reduction
print(Outlook_SDR)
print("-----------------------------------------------------")

Temperature_SDR = HP_Std - Temperature_Reduction
print(Temperature_SDR)
print("-----------------------------------------------------")

Humidity_SDR = HP_Std - Humidity_Reduction
print(Humidity_SDR)
print("-----------------------------------------------------")

Wind_SDR = HP_Std - Wind_Reduction
print(Wind_SDR)
print("-----------------------------------------------------")

Hrs Played    1.073425
dtype: float64
-----------------------------------------------------
Hrs Played   -0.341888
dtype: float64
-----------------------------------------------------
Hrs Played   -0.100862
dtype: float64
-----------------------------------------------------
Hrs Played   -0.10994
dtype: float64
-----------------------------------------------------